{% extends 'AcmeNewsBundle::layout.html.twig' %}

{% block title %}Новости | {% if page > 1 %}Страница {{ page }} | {% endif %}{{ parent() }}{% endblock %}

{% block header_navbar %}
    <li class="active"><a href="{{ path('acme_news_list') }}">HTML list <span class="sr-only">(текущая страница)</span></a></li>
{% if page > 1 %}
    <li><a href="{{ path('acme_news_list', {'_format': 'xml', 'page': page}) }}">XML list</a></li>
{% else %}
    <li><a href="{{ path('acme_news_list', {'_format': 'xml'}) }}">XML list</a></li>
{% endif %}
{% endblock %}

{% block body %}
    <main class="row" aria-labelledby="newsheader">
        <div class="col-xs-12">

            <header id="newsheader">
                <h1>Лента новостей</h1>
                <h3>страница {{ page }}</h3>
            </header>

{% for news in newsEntitySet %}
            <article class="row">
                <h2 class="col-xs-3">
                    <time datetime="{{ news.createdAt|date('Y-m-d H:i:s') }}">{{ news.createdAt|date('d.m.Y H:i') }}</time>
                </h2>
                <div class="col-xs-9">
                    {{ news.excerpt|raw }}
                    <a href="{{ path('acme_news_full_news', {'newsId': news.id}) }}" rel="bookmark">Читать новость полностью &raquo;</a>
                </div>
            </article>

{% endfor %}
        </div>
    </main>

    {{ render(controller('AcmeNewsBundle:View:listPagination', {'page': page, 'perPage': perPage})) }}
{% endblock %}